<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Forgotten Password</title>
    <link rel = stylesheet href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/login.css">
    <link rel="icon" href="../public/img/BCS.jpeg" alt="BCS-logo">
</head>

<body>
<div class="banner">
    <h1>Reset Password</h1>
    <div class="main">
        <div class="header">
            <a href="/">
                <img src="../public/img/BCS.jpeg" alt="">
            </a>
        </div>
        <form>
            <div class="form-group">
                <label for="email"></label>
                <input type="email" class="form_control" id="email" placeholder="Email address" required autofocus>
            </div>
            <div class="form-group">
                <label for="password"></label>
                <input type="password" class="form_control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-success btn-block">Reset Password</button>
        </form>
        <div class="message">
            <p>Or return to<a href="/login"> Login</a>.</p>
        </div>
    </div>
</div>
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script>
    $('#login_form').on('submit', function (e) {
        e.preventDefault()
        var formData = $(this).serialize()
        console.log(formData)
        $.ajax({
            url: '/login',
            type: 'post',
            data: formData,
            dataType: 'json',
            success: function (data) {
                var err_code = data.err_code
                if (err_code === 0) {
                    window.location.href = '/login'
                } else if (err_code === 1) {
                    window.alert('邮箱或者密码错误')
                } else if (err_code === 500) {
                    window.alert('服务器忙，请稍后重试！')
                }
            }
        })
    })
</script>
</body>
</html>