<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <title>introduction interface</title>
    <link rel="stylesheet" type="text/css" href="../public/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/introduction.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1,user-scalable=no">
    <meta name="author" content="cry">
    <meta name="keywords" content="booking class system">
    <meta name="description" content="course selection website">
    <link rel="icon" href="../public/img/BCS.jpeg" alt="BCS-logo">
    <meta content="" name="description">
</head>

<body>
<div class="first_row">
    <a href="#" class="logo-image"><img src="../public/img/long-logo.png"></a>
    <a href="/login" class='login'>Log In</a>
</div>
<div class="banner">
    <img id="blackboard" src="../public/img/banner0-blackboard.jpg" alt="blackboad">
    <div class="devices">
        <img src="../public/img/new computer.png" alt="different devices">
    </div>
</div>
<div class="product">
    <span>Our Product</span>
    <p>Introduction: courses can be selected online for students and distributed by staff</p>
</div>
<div class='banner1'>
    <img src="../public/img/banner1-online_booking.png" alt="online booking">
</div>
<div class="characters">
    <span>Characters</span>
    <p>simple, relaible, free installation</p>
</div>
<div class="characters_content">
    <ul>
        <li>
            <img src="../public/img/staff_management.png" alt="manage by staff">
            <h2>Staff Management</h2>
            <p>Staff can grasp the situation in classat at any time and anywhere</p>
        </li>
        <li>
            <img src="../public/img/book.png" alt="student appointment">
            <h2>Student Appointment</h2>
            <p>Members can book and cancel classes on the website at anytime and anywhere</p>
        </li>
        <li>
            <img src="../public/img/availabletime.png" alt="big data">
            <h2>Teacher Available Time</h2>
            <p>According the teachers' available time, staff will arrange the suitable lecture time for teacher</p>
        </li>
    </ul>
</div>
<div class='banner2'>
    <div>
        <h2>Other Functions</h2>
        <p>Comprehensive features to meet your management needs, more features we are working on</p>
    </div>
</div>
<div class="function_content">
    <ul>
        <li>
            <img src="../public/img/email.png" alt="">
            <h2>Email Support</h2>
            <p>Members send an email to remind them before class</p>
        </li>
        <li>
            <img src="../public/img/report.png" alt="">
            <h2>Course Details</h2>
            <p>Featured course introduction, teacher introduction</p>
        </li>
    </ul>
</div>
<div class="footer">
    <ul>
        <li>
            <p>About us</p>
            <p>Email address: abc@bristol.ac.uk</p>
            <p>Contact number: 000-000-000</p>
        </li>
        <li>
            <p>Address</p>
            <p>University of Bristol</p>
        </li>
    </ul>
</div>
</body>
</html>
